<h1>Here's your exclusive coupon code, you lucky winner you!</h1>
<div class="columns">
    <div class="column wide">
        <div class="capsule2">
          <div class="cinner">
              <h4>Coupon# 6w29hdpf7ida4hp6</h4>
              <h5>Your Price: Free</h5>
              <p>
                  1 pair of CLASSIC STRAIGHT KHAKI<br />
                  Regular price = $49.50<br />
                  You Pay = Free<br />
                  Color = CARMEL<br />
                  Style# = 772336011<br />
                  Expires = 04/30/2011<br />
              </p>
            </div><!-- .cinner -->
            <div class="ctl"></div><div class="ctc"></div><div class="ctr"></div>
            <div class="cml"></div><div class="cmr"></div>
            <div class="cbl"></div><div class="cbc"></div><div class="cbr"></div>
        </div><!-- .capsule -->

    </div><!-- .column.wide -->
</div><!-- .columns -->

<b>Terms & Conditions:</b>
Offer valid from March 3, 2011 through March 17, 2011 in the U.S. only (including Puerto Rico) at Gap stores. Not valid at Gap Outlet, Gap Factory Store or The Gap Generation stores or online. Offer is good for one time use only and must be surrendered at time of
in-store purchase. Discount applies to Gap Men's Khaki merchandise only, not to GiftCards or applicable taxes. No adjustments on previous purchases. The value of the purchase must be greater than or equal to the value of the coupon. Not valid for cash or cash equivalent. Offer cannot be combined with any other offers or discounts, including the Gap Inc. employee discount. Not responsible for lost or stolen coupons. Offer is not transferable.
<b>Cashiers:</b> enter code above to process the discount.

<p>
  Regards,<br />
  gapmyprice.com
</p>
