<h1>
    <% if @last_offer %>
      <% if @last_offer.accepted? %>
        Done deal. Get your exclusive coupon now!
      <% elsif @last_offer.counter? %>
        This is our offer. So hey, what do you say?
      <% elsif @last_offer.last? %>
        This is our best offer, a great deal. Hope you accept!
      <% else %>
        Game on! Say your price and let's make a deal!
      <% end %>
    <% else %>
      Game on! Say your price and let's make a deal!
    <% end %>
</h1>
<div class="columns">
    <div class="column widest">
      <%= render :partial => "partials/capsule", :object => @product %>
    </div><!-- .column.wide -->
</div><!-- .columns -->
